@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
        url('../fonts/Roboto-Medium.woff') format('woff'),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html,
body {
  position: relative;
  height: 100%;
}

body{
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .heading-hero-section {
      display: flex;
      align-items: center;
  }

  .hero-section {
    display: flex;
    align-items: center;
  }

  .hero-left-section {
      margin-right: 176px;
      width: 100%;
      max-width: 444px;
  }

  .hero-img {
      width: 100%;
      max-width: 417px;
      height: 417px;
  }

  .name-desc {
    margin: 0;
    margin-bottom: 16px;
    text-align: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FF9900;
  }

  .name-main-desc {
    margin: 0;
    margin-bottom: 16px;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #000000;
  }

  .info-desc {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      margin: 0;
      margin-bottom: 16px;
      text-align: left;
      font-family: Roboto;
      font-size: 12px;
      line-height: 20px;
      color: rgba(35, 47, 62, 0.48);
  }

  .hero-buy-section {
      text-align: left;
  }

  .hero-buy-btn {
      color: #146EB4;
      border: 1px solid #146EB4;
  }

  .hero-buy-btn:hover {
    background-color: #146EB4;
    color: #fff;
  }

  .hero-buy-btn:active {
      background-color: #146EB4;
      color: #fff;
  }

  .hero-learn-btn {
      margin-left: 12px;
      color: #146EB4;
      border: 1px solid #146EB4;
  }

    .hero-learn-btn:hover {
      background-color: #146EB4;
      color: #fff;
  }

    .hero-learn-btn:active {
      background-color: #146EB4;
      color: #fff;
  }

  .hero-info {
    position: absolute;
    z-index: 10;
    padding: 10px;
    top: 60px;
    background-color: #000;
    border-radius: 10px;
    transform: translateY(0);
    transition: 0.5s;
  }

  .hidden {
    /* display: none; */
    transform: translateY(-100vh);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
    transform: translateY(0);
    transition: 0.8s;
  }

  .hidden-overlay {
    /* display: none; */
    transform: translateY(-100vh);
  }



.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 17px 14px;
    width: 100%;
    max-width: 600px;
    background: rgba(242, 242, 242, 0.48);
}

.header-left-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 306px;
}

.header-left-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    width: 100%;
    max-width: 60px;
}

.header-second-section {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-select {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14px;
    border: none;
}

.header-input {
    padding: 10px 16px;
    width: 100%;
    max-width: 432px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    background: rgba(242, 242, 242, 0.48);
    border: none;
    border-left: 1px solid gray;
    outline: none;
}

.header-carbon {
    margin: 0;
    margin-left: 5px;
    color: #000000;
}

.header-left-btn {
    font-family: Roboto;
    border: none;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    width: 94px;
    height: 38px;
    background: #232F3E;
}

.header-left-btn:hover {
    color: #fff;
}

.redStyle {
    color: red;
}

.shopStyle {
    color: red;
}
